body {
    background-image: url('assets/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap {
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid red;
}

#game-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20px;
    width: fit-content;
    background-color:#4e342e;
    display: grid;
    row-gap: 40px;
}

#scoreboard {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    margin: 0 auto;
    font-size: 50px;
    color: white;
}

#guess-word {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    background-color: #546e7a;
    border-radius: 20px;
}

#keyboard {
    background-color: #37474f;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    width: fit-content;
}

.blank-block, .spacebar-block {
    margin: 10px;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    padding: 10px;
}

.blank-block {
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    background-color: white;
    text-transform: capitalize;
}

.keyboard-row {
    display: block;
    text-align: center;
    margin: 20px;
}

.button-letter {
    margin: 0 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-transform: capitalize;
}